export PROJECT_DIR=$(pwd)
nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc
  nvm use
fi

if [[ "$(node --version)" != "$(cat .nvmrc)" ]]; then
 cat <<-EOF
        wrong node version is active.
        want: $(cat .nvmrc)
        got: $(node --version)
EOF
fi